.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.audio-top-entry {
  height: 1px;
  background-color: red;
}

.audio-bottom-entry {
  height: 1px;
  background-color: red;
}

.audio-top-entry2 {
  height: 1px;
  background-color: red;
}

.audio-bottom-entry2 {
  height: 1px;
  background-color: red;
}
